/* basic setup*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #fff;
  color: #555;
  font-family: "Arial";
  font-weight: 300;
  font: size 20px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

/* header*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 20px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 3px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  margin-top: 20px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}
.photo2 {
  size: 20%;
}

.poczatek {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  padding: 80px 0;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  color: #fff;
  font-size: 200%;
  word-spacing: 4px;
  letter-spacing: 1px;
}
h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}
h3 {
  font-size: 110%;
  margin-bottom: 15px;
  text-align: center;
}
.long_copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}
.box p {
  font-size: 90%;
  line-height: 145%;
  text-align: center;
}
.photo2 {
  padding: 15px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* reuse*/

.box {
  padding: 1%;
}
.button_start:link,
.button_start:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn_full:link,
.btn_full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 10px;
}

.btn_ghost:link,
.btn_ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.button_start:hover,
.button_start:active {
  background-color: #cf6d17;
}

.btn_full:hover,
.btn_full:active {
  border: 1px solid #e67e22;
}

.btn_ghost:hover,
.btn_ghost:active {
  border: 1px solid #e67e22;
  color: #fff;
}

/*testimony*/
.section_testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/testimony.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}
blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}
blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: 0px;
  left: -5px;
}
cite {
  font-size: 90%;
  margin-top: 25%;
  display: block;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/*stopa*/
footer {
  background-color: #333;
  padding: 10px;
  margin-top: 0;
  padding-top: 0;
}
.footer_nav {
  list-style: none;
  float: left;
}
.social_links {
  list-style: none;
  float: right;
}

.social_links img {
  list-style: none;
  float: right;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  margin-left: 6px;
}

.footer_nav li,
.social_links li {
  display: inline-block;
  margin-right: 20px;
}

.footer_nav li:last-child,
.social_links li:last-child {
  margin-right: 0;
}

.footer_nav li a:link,
.footer_nav li a:visited,
.social_links li a:visited,
.social_links li a:link {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer_nav li a:hover,
.footer_nav li a:active {
  color: #ddd;
}
footer p {
  color: #888;
  text-align: center;
  font-size: 90%;
  margin-top: 3px;
}
.footer_S {
  padding: 0;
}
