* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Arial;
  font-size: 18px;
}

h1,
h2 {
  color: rgb(0, 255, 0);
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

p {
  text-align: justify;
}

.main-text {
  text-align: justify;
  margin-bottom: 20px;
}

.container {
  width: 1140px;
  margin: 20px auto 0 auto;
}

.blog-post {
  width: 75%;
  float: left;
  padding-right: 30px;
  position: relative;
}

.other-posts {
  width: 25%;
  float: left;
}

.author-text {
  padding-top: 22px;
  border-top: 1px solid #333;
  float: left;
  margin-top: 30px;
  margin-left: 15px;
}

.other {
  margin-bottom: 40px;
}

.author-text img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
}

.date {
  position: absolute;
  top: 13px;
  right: 30px;
}
